body {
  /* background-color: black; */
  /* background-color: #220901; */
  background-color: hsl(180, 7%, 10%);
  /* color: #F6AA1C; */
  color: #CBE4DE;
  font-size: 18px;
}

.letter {
  /* border: 2px solid #BC3908; */
  border: 2px solid hsl(180, 7%, 32%);
  display: inline-block;
  border-radius: 16px;
  border-bottom-width: 4px;
  /* background-color: #621708; */
  background-color: hsl(180, 7%, 15%);
}

.letter p {
  margin: 5px;
  padding: 0;
  text-align: center;
}
.sinhala {
  font-size: 23px;
  font-weight: 500;
}
.sound {
  /* color: #BC3908; */
  color: hsl(180, 7%, 32%);
  font-family: din-round, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

h2 {
  font-size: 22px;
  font-family: din-round, sans-serif;
  text-align: center;
  padding-top: 20px;
}

main {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}